{% extends 'base.html.twig' %}

{% block title %}Ajout d'un type - Pokémon Symfony{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Gestion des types - Modification</h1>
        {# Affichage d'un message flash #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">{{ message }}</div>
        {% endfor %}
        {# Affichage d'un message flash #}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-4">{{ message }}</div>
        {% endfor %}
{% endblock %}