{% extends 'base.html.twig' %}

{% block title %}Accueil - Pokémon Symfony{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px;">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur Pokémon Symfony</h1>
            <p class="lead">Ce site est un site de gestion de pokémons. Vous pourrez voir toutes informations sur les pokémons existants, les attaques, les objets etc.</p>
            <hr class="my-4">
            <p>Vous pouvez gérer vos pokémons en vous connectant.</p>
            <a class="btn btn-primary btn-lgz" href="#" role="button">Se connecter</a>
            <p>Vous n'avez pas de compte ?</p>
            <a class="btn btn-primary btn-lgz" href="#" role="button">S'inscrire</a>
        </div>
    </div>
{% endblock %}
